* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #f0f0f0;
}

.xp {
    font-size: .8rem;
    text-align: center;
}

/* #mais {
    display: none;
} */
.content {
    padding: 1rem;
    background-color: #fdfafa;
    height: 100vh;
    width: 100vh auto;
    box-shadow: 3px 3px 5px 3px rgba(19, 18, 18, 0.142);

}

h1 {
    font-size: 3rem;
    color: #ffce08;
    -webkit-text-stroke: 1px #3964b5;
    -webkit-text-stroke: 1.5px #3964b5;
    margin-left: .8rem;
    margin-bottom: 0.8rem;
}

.pokemons {
    display: grid;
    grid-template-columns: 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Responsivo */
@media screen and (min-width: 992px) {
    .content {
        max-width: 992px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}

@media screen and (min-width: 380px) {
    .pokemons {
        grid-template-columns: 1fr 1fr;
    }
    
}

@media screen and (min-width: 576px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}