.pokemon {
    margin: 0.5rem;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;

    
}

.normal {
    background-color: #a6a877; 
}

.grass {
    background-color: #77c850; 
}

.fire {
    background-color: #ee7f30; 
}

.water {
    background-color: #678fee; 
}

.electric {
    background-color: #f3c81a; 
}

.ice {
    background-color: #98d5d7; 
}
.ground {
    background-color: #dfbf69; 
}

.flying {
    background-color: #a98ff0; 
}

.poison {
    background-color: #a040a0; 
}

.fighting {
    background-color: #bf3029; 
}

.psychic {
    background-color: #f65687; 
}

.dark {
    background-color: #725847; 
}

.rock {
    background-color: #b8a137; 
}
.bug {
    background-color: #a8b720; 
}

.ghost {
    background-color: #6e5896; 
}

.steel {
    background-color: #b9b7cf; 
}

.dragon {
    background-color: #6f38f6; 
}

.fairy {
    background-color: #f9aec7; 
}

.pokemon .number {
    color: #0b0e0d;
    opacity: .3;
    text-align: right;
    font-size: .625rem;
}

.pokemon .name {
    text-transform: capitalize;
    color: #fff;
    margin-bottom: .25rem;
}

.pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.pokemon .detail .types {
    padding: 0;
    margin: 0;
    list-style: none;
}

.pokemon .detail .types .type {
    color: #fff;
    padding: .25rem .5rem;
    margin: .25rem 0;
    border-radius: 1rem;
    font-size: .625rem;
    filter: brightness(1.1);
    text-align: center;
}

.pokemon .detail img {
max-width: 100%;
    height: 70px;
}
/* Botão para carregar mais pokemon */
.pagination {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

.pagination button {
    width: 15rem;
    font-size: .625rem;
    padding: .25rem .5rem;
    margin: .25rem 0;
    border: none;
    border-radius: 1rem;
    color: black;
    background-color: #ffce08;
    border: solid 3px ;
    border-color:  #3964b5;
    
}

.pagination button:hover {
    color: rgb(255, 255, 255);
    background-color: #fb1414;
    border: solid 3px ;
    border-color:  #ffce08;
}

/* Botão Sobre Pokemon */
.pagination-about {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: left;
    padding: 1rem;
}

.pagination-about button {
    width: 3rem;
    font-size: .625rem;
    padding: .25rem .5rem;
    margin: .25rem 0;
    border: none;
    border-radius: 1rem;
    color: black;
    background-color: #ffce08;
    border: solid 3px ;
    border-color:  #3964b5;
    
}

.pagination-about button:hover {
    color: rgb(255, 255, 255);
    background-color: #fb1414;
    border: solid 3px ;
    border-color:  #ffce08;
}

.xp-detail{
    color: #e2e1e1;
    max-width: 2.3rem;
    padding: .4rem;
    margin: 0;
    background-color: #4343431f;
    border-radius: 1rem;
    font-size: .625rem;
    filter: brightness(1.1);
    text-align: center;
    border: solid 1px ;
    border-color:  #e82604;
}


