* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', sans-serif;
}

.card{ 
    width: 70%;
    display: flex;
    flex-direction: row;
    box-shadow: 11px 14px 37px -14px rgba(0,0,0,0.68);
-webkit-box-shadow: 11px 14px 37px -14px rgba(0,0,0,0.68);
-moz-box-shadow: 11px 14px 37px -14px rgba(0,0,0,0.68);
justify-content: space-between;
}

.card__right > img{ 
    max-width: 300px;
    display: flex;
    justify-content: center;
}

.card__left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
.card__left > span {
    font-weight: 500;
}

.card__left > h1 {
    margin-top: 15px;
    font-size: 25px;
}

.card__left > p {
    color: rgb(108, 108, 108);
}