.card-pricing__containe {
  position: absolute;
  bottom: 0px;
  left: 0;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 65px;
  background-color: rgba(0, 0, 0, 0.806);
  padding: 10px;
  color: antiquewhite;
  font-family: Calibri, sans-serif;
}

.card-pricing__title {
  margin-bottom: 3px;
}

.card-pricing__value {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-pricing__value__console {
  display: flex;
}

.card-pricing__value__console > span {
  font-weight: bolder;
  color: aqua;
  margin-right: 13px;
}
