.card {
  border: 2px solid black;
  width: 300px;
  height: 400px;

  display: flex;
  flex-direction: column;
  background-color: #242324;
  border-radius: 10px;
}

.card__title {
  margin-left: auto;
  margin-right: auto;
}

.card__body{
  background-color: #626062;
  border-radius: 5px;
  width: 80%;
 margin-left: auto;
 margin-right: auto;
  height: 70%;
}


.card__stats{
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.card__stats__type{
  color: rgb(21, 21, 21);
  font-weight: bolder;
  background-color: coral;
  border-radius: 10px;

  padding: 7px;
  margin-right: 5px;
}
